<a href="https://colab.research.google.com/github/falakj07/Loops-in-python-/blob/main/Loops_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 7
## Title - Loops in python
## Falak Jain  
## PRN - 25070123047
## ENTC A3

In [ ]:
#print numbers 1 to 5
i=1
while i<=5:
 print(i)
 i=i+1

1
2
3
4
5

In [ ]:
#print numbers till number input by user
num = int(input("Enter number: "))
i=1
print("Numbers till", num,"are:", end=" ")
while i<=num:
 print(i,end= " ")
 i=i+1

Enter number: 45
Numbers till 45 are: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45

In [ ]:
# factorial of a number entered by user
fact = 1
num = int(input("Enter number to find factorial: "))
while num>0:
 fact*=num
 num-=1
print()
print("Factorial: ", fact)

Enter number to find factorial: 25

Factorial:  15511210043330985984000000

In [ ]:
#Fibonacci series using while loop
n= int(input("Enter number till which you want to print fibonacci series: "))
a=0
b=1
next=0
i=1
print()
while i<=n:
 print(next, end=" ")
 i+=1
 a,b=b,next
 next=a+b
print()

Enter number till which you want to print fibonacci series: 15

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [ ]:
#reverse a number

num=int(input("enter a number to be reversed: "))
rev = 0
print()
while num>0:
 i=num % 10
 rev=rev*10 + i
 num//=10
print("Reversed number: ", rev)

enter a number to be reversed: 9854

Reversed number:  4589

In [ ]:
#check palidrome number and string
num=input("enter a number or string: ")
rev = num [::-1]
print()
if num==rev:
 print("It is a palindrome")
else:
 print("It is not a palindrome")

enter a number or string: pushkal

It is not a palindrome

In [ ]:
#count digits in a number
num=int(input("enter a number to count digits: "))
count=0
print()
while num>0:
 num//=10
 count+=1
print("Number of digits are: ", count)

enter a number to count digits: 3478623

Number of digits are:  7

#  Break Statement

In [ ]:
#exit loop when i is 3
i=1
while i<=6:
 print(i)
 if i==3:
  break
 i=i+1

1
2
3

In [ ]:
#search an element in a list
nums= 25070123054, 25070123058, 25070123001, 25070123154, 25070123078, 25070123051, 25070123060, 25070123097, 25070123151,25
key=int(input("Enter PRN : "))
i=0
while i < len(nums):
 if nums[i]==key:
  print("PRN found at position : ",i+1)
  break
  i=i+1
else :
 print("PRN not found")

Enter PRN : 25070123058

In [1]:
#Print numbers from 1 to 10 (skip 5)
i = 0
while i<10 :
  i+= 1
  if i == 5:
   continue
  print(i)

1
2
3
4
6
7
8
9
10

In [2]:
#Print only odd numbers ( 1 to 10)
i = 0
while i<10:
 i+=1
 if i % 2 == 0 :
  continue
print(i)

10

In [3]:
#Print only even numbers ( 1 to 10)
i = 0
while i<10:
  i+=1
  if i % 2 != 0 :
    continue
print(i)

10

# Loops

In [ ]:
# print numbers 1 to 6
for i in range(1,7):
 print(i, end= " ")

1 2 3 4 5 6

In [6]:
# print ven numbers from 1 to 10
for i in range (2,11,2):
  print(i,end=" ")

2 4 6 8 10

In [8]:
# Nested for loop
for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [9]:
# 3*3 matrix display
A = [ [1,2,3],
    [4,5,6],
    [ 7,8,9] ]
for i in range(3):
  for j in range(3):
    print(A[i][j], end= " ")
print()

1 2 3 4 5 6 7 8 9

In [11]:
#Multiplication of two 3*3 Matrices (Most important)
A = [ [1,2,3] , [4,5,6] , [7,8,9]]
B = [ [9,8,7] , [6,5,4] , [3,2,1]]

result = [ [0,0,0] , [0,0,0] , [0,0,0]]
for i in range(3):
  for j in range(3):
    for k in range(3):
      result[i][j] += A[i][k] * B[k][j]





print("Product of matrices is: ")
for row in result:
    print(row)

Product of matrices is:
[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

In [ ]:
# Accept three digits and print all possible combinations
d1=1
d2=2
d3=3
d=[d1,d2,d3]
# 123,132,213,231,312,321
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if (d[i]!=d[j]) and d[j]!=d[k] and d[k]!=d[i]:
         print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
# Armsstrong Number (153 370 371 407 123)
#153 3 digits so
#1*3 + 5*3 + 3*3 = 1+125+27 = 153
num = 153
total = 0
for digit in str(num):
   total += int(digit) ** 3
if total == num:
   print("Number is Armstrong number")
else:
  print("Number is   not armstrong number ")

Number is Armstrong number

In [ ]:
# Check whether the number is prime or not
num = 43
if num % 2 != 0:
 print("number is not prime")
else :
 print("number is prime")

number is not prime

In [ ]:
# print all prime numbers in range
for num in range(2,50):
    for i in range(2,num):
       if num % i == 0:
         break
    else:
         print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
## to print inverted pyrmaid
n=5
for i in range(n): #0,1,2,3,4
   print(i*' ',(n-i)* ' *')

  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
## Right angle triangle
for i in range (5,0,-1):

  print("* "*i)

* * * * *
* * * *
* * *
* *
*

In [4]:
## Pyrmaid pattern
rows=5
for i in range(1,rows+1):
   print(" "* (rows-i)+ "* "*i)

    *
   * *
  * * *
 * * * *
* * * * *